{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "import",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "no-console": ["error", { "allow": ["log", "warn"] }]
  },
  "globals": {
    "describe": false,
    "it": false
  }
}
